<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'un quiz</title>
</head>
<body>
    <div style="width: 80%; height: 500px; border: 2px solid black;  margin: 0 auto; margin-top: 60px;">
        <h1 style="text-align: center; margin-top: 50px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 36px;">Créer un nouveau Quiz</h1>
    
        <div style="display: flex;">
            <div style="width: 44%; margin-left: 80px;">
                <fieldset>
                    <legend style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Nom du Quiz</legend>
                    <input type="text" placeholder="Entrez le nom du Quiz" style="width: 94%; border: 1px solid black;">
                </fieldset>
                <br>
                <fieldset>
                    <legend style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Thème</legend>
                    <select name="pets" id="pet-select" style="width: 93%;">
                        <option value="">Sélectionnez un Thème ..</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    
                    <button style="margin:0 auto; width: 94%; margin-top: 10px; height: 70px; border: 2px solid black; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px;border-radius: 7px;">Appliquer un théme</button>
                    <br>
                    <input type="text" placeholder="Nouveau Théme" style="width: 93%; border: 1px solid black; margin-top: 10px;">
                    <button style="margin:0 auto; width: 94%; margin-top: 10px; height: 70px; border: 2px solid black; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px;border-radius: 7px;">Créer un théme</button>
                </fieldset>
            </div>
            <div style="width: 34%; margin-left: 60px;"><br><br><br>
                <button style="margin:0 auto; width: 94%; margin-top: 10px; height: 70px; border: 2px solid black; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px; border-radius: 7px;">Ajouter les Quiz</button>
                <button style="margin:0 auto; width: 94%; margin-top: 10px; height: 35px; border: none; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px; background-color: chartreuse; border-radius: 7px; color: #fff;">Enregistrer et Quitter</button>
                <button style="margin:0 auto; width: 94%; margin-top: 10px; height: 35px; border: none; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px; background-color:firebrick; border-radius: 7px; color: #fff;">Annuler et quitter</button>
            </div>

        </div>
    </div>
</body>
</html>
