<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion des utilisateurs</title>
</head>
<body>
<div [ngSwitch]="state">
  <div *ngSwitchDefault style="width: 82%; height: 515px; border: 2px solid black;  margin: 0 auto; margin-top: 60px;">
    <h1 style="text-align: center; margin-top: 50px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 36px;">Gestion des Utilisateurs</h1>

    <div style="width: 44%; margin-left: 80px;float: left;">
      <fieldset>
        <legend style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Liste des Utilisateurs</legend>
        <!--<button class="button-card">Quitter l'édition de Quiz</button>-->
        <ul>
          <li class="user" *ngFor="let user of userList">
            {{ user.firstName }} {{ user.lastName }}
            <button (click)="selectUser(user)">Sélectionner</button>
          </li>
        </ul>
      </fieldset>
      <div style="width: 34%; margin-left: 60px;">
        <form [formGroup]="userForm">
          <label for="firstName">
            Prénom : <input class="input-custom" type="text" id="name" [formControlName]="'firstName'">
          </label>
          <label for="lastName">
            Nom : <input class="input-custom" type="text" id="name" [formControlName]="'lastName'">
          </label>
          <br>
          <button type="submit" class="button-card" (click)="createUser()">Créer un nouvel utilisateur</button>
        </form>
      </div>
    </div>


    <div [ngSwitch]="state" style="float: right;width: 34%;">
      <div *ngSwitchCase="1">
        Statistiques de {{ currentUser.firstName }}
        <br>
        <button type ="button" class="ButtonParameter" (click)="userOption(currentUser)">Paramètres de {{currentUser.firstName}}</button>
        <br>Tentatives :
        <ul>
          <li *ngFor="let attempt of currentUser.attempts">
            {{ attempt.score }} points
          </li>
        </ul>
        <button (click)="deleteUser(currentUser)">Supprimer l'utilisateur</button>
      </div>
      <div *ngSwitchDefault>
        Sélectionnez un utilisateur dans la liste
      </div>

    </div>
  </div>

  <div *ngSwitchCase="4">
    <app-parametres-quiz></app-parametres-quiz>
  </div>
</div>
</body>
</html>
