<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion des utilisateurs</title>
</head>
<body>
<div [ngSwitch]="state">
  <div *ngSwitchDefault style="width: 82%; height: 1000px; border: 2px solid black;  margin: 0 auto; margin-top: 60px;">
    <h1 style="text-align: center; margin-top: 50px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 36px;">Gestion des Utilisateurs</h1>

    <div style="width: 44%; margin-left: 80px;float: left;">
      <fieldset>
        <legend style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Liste des Utilisateurs</legend>
        <!--<button class="button-card">Quitter l'édition de Quiz</button>-->
        <ul>
          <li class="user" *ngFor="let user of userList">
            {{ user.firstName }} {{ user.lastName }}
            <button (click)="selectUser(user)" style="margin: 0 auto; width: 150px; height: 25px; background-color: transparent; color: black; border: 2px solid #2690CD; border-radius: 7px; font-weight: 800; font-family: Arial, Helvetica, sans-serif;">Sélectionner</button>
          </li>
        </ul>
      </fieldset>
      <div style="width: 34%; margin-left: 60px;">
        <form [formGroup]="userForm">
          <label for="firstName">
            Prénom : <input class="input-custom" type="text" id="name" [formControlName]="'firstName'">
          </label>
          <br>
          <label for="lastName">
            Nom : <input class="input-custom" type="text" id="name" [formControlName]="'lastName'">
          </label>
          <br>
          <button type="submit" class="button-card" (click)="createUser()" style="margin: 0 auto; width: 300px; height: 45px; background-color: transparent; color: black; border: 2px solid #2690CD; border-radius: 7px; font-weight: 800; font-family: Arial, Helvetica, sans-serif;">Créer un nouvel utilisateur</button>
        </form>
      </div>
    </div>


    <div [ngSwitch]="state" style="float: right;width: 34%;">
      <div *ngSwitchCase="1">
        Statistiques de {{ currentUser.firstName }}
        <br>{{ currentUser.attempts.length }} tentative(s) :
        <button type ="button" class="ButtonAttempts" (click)="seeAttempts()" style="margin: 0 auto; width: auto; height: auto; background-color: transparent; color: black; border: 2px solid #2690CD; border-radius: 7px; font-weight: 800; font-family: Arial, Helvetica, sans-serif;">Voir historiques parties de {{currentUser.firstName}}</button>
        <br>
        <button type ="button" class="ButtonParameter" (click)="userOption(currentUser)" style="margin: 0 auto; width: auto; height: auto; background-color: transparent; color: black; border: 2px solid #2690CD; border-radius: 7px; font-weight: 800; font-family: Arial, Helvetica, sans-serif;">Paramètres de {{currentUser.firstName}}</button>
        <br>
        <button (click)="confirmDelete()" style="margin: 0 auto; width: auto; height: auto; background-color: transparent; color: black; border: 2px solid #2690CD; border-radius: 7px; font-weight: 800; font-family: Arial, Helvetica, sans-serif;">Supprimer l'utilisateur</button>
        <div *ngIf="this.deleteState === 1" class="confirmBox">
          <p>Êtes-vous sûr de vouloir supprimer {{currentUser.firstName}} {{currentUser.lastName}} ?</p>
          <p>Cette action est irréversible.</p>
          <button type ="button" (click)="this.deleteState = 0">Annuler</button>
          <button type ="button" (click)="deleteUser(currentUser)">Supprimer</button>
        </div>
      </div>
      <div *ngSwitchDefault>
        Sélectionnez un utilisateur dans la liste
      </div>

    </div>
  </div>

  <div *ngSwitchCase="4">
    <button (click)="this.state = 0" style="margin: 0 auto;  margin-top:10px; margin-bottom: 10px; width: 300px; height: 45px; background-color: transparent; color: black; border: 2px solid #2690CD; border-radius: 7px; font-weight: 800; font-family: Arial, Helvetica, sans-serif;">Retour à la liste des utilisateurs</button>
    <app-parametres-quiz></app-parametres-quiz>
  </div>
  <div *ngSwitchCase="5">
    <button (click)="this.state = 0" style="margin: 0 auto; margin-top:10px; width: 300px; height: 45px; background-color: transparent; color: black; border: 2px solid #2690CD; border-radius: 7px; font-weight: 800; font-family: Arial, Helvetica, sans-serif;">Retour à la liste des utilisateurs</button>
    <app-attempts-user></app-attempts-user>
  </div>
</div>
</body>
</html>

<!--
<ul>
          <li *ngFor="let attempt of currentUser.attempts">
            <div *ngFor="let quiz of quizList">
              <div *ngIf="quiz.id === attempt.quizId">
                {{ quiz.name }} : {{ attempt.score }} points
              </div>
            </div>
          </li>
        </ul>
        -->
