<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gestion du quiz</title>
  </head>

  <!--Administration des quiz-->
  <body [ngSwitch]="state">
    <div *ngSwitchCase="0">

      <h1 style="text-align: center; margin-top: 50px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 36px;">Gestion des Quiz</h1>
        <div style="width: 45%; border:1px solid #000; float: left; margin: 20px;">
          <fieldset>
            <legend style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;margin: 20px;">Liste des Quiz</legend>
                <div class="user" *ngFor="let quiz of quizList" style="border:1px solid #000;">
                  {{ quiz.name }}
                  <button style="float: right;" (click)="selectQuiz(quiz)">Sélectionner</button>
                </div>
          </fieldset>
          <button (click)="this.state=1">Créer un nouveau quiz</button>
        </div>

        <div style="width: 45%; border:1px solid #000; float: right; margin: 20px; text-align: center;">
          <div *ngIf="currentQuiz">
            <h2>{{ currentQuiz.name }}</h2>
            <h3>{{ currentQuiz.questions.length }} questions</h3>
            <button (click)="this.state=2">Ajouter/modifier des questions</button><br>
            <button (click)="deleteQuiz(currentQuiz)">Supprimer ce Quiz</button>
          </div>
        </div>

    </div>

    <!--Création d'un quiz-->
    <div *ngSwitchCase="1">
      <h1 style="text-align: center; margin-top: 50px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 36px;">Créer un quiz</h1>

      <div style="width: 45%; border:1px solid #000; float: left; margin: 20px;">
        <form class="quiz-form" [formGroup]="quizForm">
          <label for="title">
            Title <br>
            <input class="input-custom" type="text" id="name" [formControlName]="'name'">
          </label>
          <label for="theme">
            <br>Theme <br>
            <select name="theme" id="theme" [formControlName]="'theme'" type="number">
              <option *ngFor="let currentTheme of themeList" [value]="currentTheme.id">
                {{currentTheme.name}}
            </select>
          </label>
          <br>
          <button type="submit" class="button-card" (click)="submitQuiz()">Créer le quiz</button>
        </form>
      </div>

      <div style="width: 45%; border:1px solid #000; float: right; margin: 20px; text-align: center;">
        <button (click)="this.state=0">Annuler et quitter</button>
      </div>

    </div>

    <!--Edition des questions d'un quiz-->
    <div *ngSwitchCase="2">
      <app-edit-questions [quiz]="this.currentQuiz"></app-edit-questions>
    </div>
  </body>
</html>



<!--
<div [ngSwitch]="state">
  <div *ngSwitchCase="1">
   <app-quiz-creation></app-quiz-creation>
  </div>
  <div *ngSwitchCase="2">
    <app-quiz-creation></app-quiz-creation>
   </div>

<div *ngSwitchDefault>
  <div style="width: 82%; height: 515px; border: 2px solid black;  margin: 0 auto; margin-top: 60px;">
    <h1 style="text-align: center; margin-top: 50px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 36px;">Gestion des Quiz</h1>
   
    <div style="width: 44%; margin-left: 80px;">
        <fieldset>
            <legend style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Liste des Quiz</legend>
             <ul> 
                <li class="user" *ngFor="let quiz of quizList">
                  {{ quiz.name }}
                </li>
            </ul>
        </fieldset>
   </div>
   <div style="width: 34%; margin-left: 60px;">
      <button class="button-card" (click)="createQuiz()" style="margin:0 auto; width: 94%; margin-top: 10px; height: 70px; border: 2px solid black; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px; border-radius: 7px;">Créer un quiz</button>
   </div> 
      <app-quiz-form ></app-quiz-form>
   </div>
  </div>
</div>
-->