
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultat Quiz</title>
</head>
<body>
<div [ngSwitch]="state">
  <div *ngSwitchCase="2">
    <app-jouer-quiz></app-jouer-quiz>
  </div>
  <div *ngSwitchCase="3">
    <app-selection-quiz></app-selection-quiz>
  </div>
  <div *ngSwitchDefault>
    <div style="width: 80%; border: 2px solid black; margin: 0 auto;">
        <div>
            <br><br>
            <h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Quiz Terminé</h2>
        </div>
        <br><br>
        <h4 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Votre Score :</h4>

        <br>
        <h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: 600;">{{ score }}</h2>
        <br><br>
        <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Félicitations</h1>
        <br><br>

        <div style="display: flex; width: 100%;">
            <Button (click)="recommencerQuiz()" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: linear-gradient(to left top, #FFDB27, #D8FF27); margin-left: 10%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;"> Recommencer le quiz</Button>
            <Button (click)="choisirQuiz()" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: linear-gradient(to left top, #27F4FF, #275DFF); margin-left: 5%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;">Choisir un autre quiz</Button>
        </div>
        <br><br>
    </div>
  </div>
</div>
</body>
</html>
