<!DOCTYPE html>
<html lng=fr>
	<head>
		<title>Choix du quiz</title>
			<style type="text/css">
			h1  {
					text-align: center;
				}


			li:hover{
				background-color: silver;
			}
			.center{
				text-align: center;
			}


			</style>
	</head>
	<body>

		<div [ngSwitch]="state">
			<div *ngSwitchCase="1">
			  <app-jouer-quiz></app-jouer-quiz>
			</div>
			<div *ngSwitchDefault>



			<h1>Choisir un quiz sur le thème : {{selectedTheme.name}}</h1>
        <!--<div *ngIf="selectedTheme" class="cont">
        Quand on aura acces au selectedTheme, on utilsera cette valeur -->
			<div class="cont">
        <ul *ngFor="let quizItem of quizList" value="themeItem">
          <div *ngIf="quizItem.themeId == selectedTheme.id">
            <li>

              <button class="button-card" (click)="selectionnerQuiz(quizItem.id)">
                {{quizItem.name}} <br/>
                Nombre de questions:
                <!-- {{quizItem.numberOfQuestion}}<br/> -->
                ID du Quiz :
                {{quizItem.id}}
              </button>
            </li>
          </div>
        </ul>
			</div>

            <div class="center"><input class="bouton" value="Check" type="button" (click)="check()"></div>
						<div class="center"><input class="bouton" value="Valider" type="button" (click)="validerQuiz()"></div>
				</div>
				</div>
			</body>
			</html>
