<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creer un nouveau Quiz</title>
</head>
<body>
    <div style="width: 82%; height: 515px; border: 2px solid black;  margin: 0 auto; margin-top: 60px;">
        
        <div style="display: flex;">
            <div style="width: 40%; margin-left: 80px; margin-top: 50px;">
                <div style="border: 2px solid black; width: 90%; height: 300px; overflow: auto;"></div>
                <button style="margin:0 auto; width: 90%; margin-top: 10px; height: 50px; border: none; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px; background-color: chartreuse; border-radius: 7px; color: #fff;">Nouvelle Question</button>
                <button style="margin:0 auto; width: 90%; margin-top: 10px; height: 50px; border: none; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px; background-color: chartreuse; border-radius: 7px; color: #fff;">Enregistrer et Quitter</button>
            </div>
            <div style="width: 42%; margin-left: 40px; ">
                <h1 style="text-align: center; margin-top: 50px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; ">Créer un nouveau Quiz</h1>
                <fieldset  style="float: left; width: 240px; margin-right: 20px;">
                    <legend style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Enoncé de la question</legend>
                    <input type="text" placeholder="Entrez une question" style="width: 100%; border: 1px solid black;"> 
                </fieldset>
                <div style="float: left; margin-left: 20px;"></div>
                <h4>ajouter une image</h4>
                <p style="text-align: center;"><button style="width: 35px; height: 35px; border: 2px solid black; border-radius: 50%; background-color: rgba(170, 170, 170, 1); margin-top: -10px;font-size: 24px; font-weight: 500;">+</button></p>
                
                
                <fieldset  style="width: 100%; margin-right: 20px;">
                    <legend style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;">Enoncé de la question</legend>
                    <div style="display: flex;">
                        <input type="text" placeholder="Réponse 1" style="width: 60%; border: 1px solid black;"> 
                        <input type="checkbox">bonne réponse
                    </div>
                    <br><br>
                    <div style="display: flex;">
                        <input type="text" placeholder="Réponse 2" style="width: 60%; border: 1px solid black;"> 
                        <input type="checkbox">bonne réponse
                    </div>
                    <br><br>
                    <div style="display: flex;">
                        <input type="text" placeholder="Réponse 3" style="width: 60%; border: 1px solid black;"> 
                        <input type="checkbox">bonne réponse
                    </div>
                    <br><br>
                    <div style="display: flex;">
                        <input type="text" placeholder="Réponse 4" style="width: 60%; border: 1px solid black;"> 
                        <input type="checkbox">bonne réponse
                    </div>
                </fieldset>
                <button style="margin:0 auto; width: 94%; margin-top: 10px; height: 35px; border: none; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px; background-color: chartreuse; border-radius: 7px; color: #fff;">Enregistrer et Quitter</button>
                <button style="margin:0 auto; width: 94%; margin-top: 10px; height: 35px; border: none; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 18px; background-color:firebrick; border-radius: 7px; color: #fff;">Annuler et quitter</button>
            </div>
        </div>
    </div>
</body>
</html>
