
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style type="text/css">
    h1  {
      text-align: center;
    }
    ul li{
      list-style: none;
      font-size: 18px;
      display: inline-flex;
      border: 1px solid black;
      border-radius: 8px;
      margin-left: 20px;
      padding: 90px;
      padding-bottom: 125px;
      padding-top: 125px;
    }
    .cont{
      width: 1200px;
      height: 300px;
      overflow: hidden;
      padding-bottom: 80px;
      text-align: center;
    }
    #bouton1{
      font-size: 20px;
      border-radius: 14px 2px 2px 14px;
      background-color: white;
      border-color: black;
      padding-right: 15px;
      padding-left: 15px;
    }
    .bouton{
      width: 700px;
      height: 80px;
      border-color: black;
      font-size: 20px;
    }

    li:hover{
      background-color: silver;
    }
    .center{
      text-align: center;
    }


  </style>
</head>
<body>
<div [ngSwitch]="state">
  <div *ngSwitchCase="1">
    <app-resultat-quiz [score]="score"></app-resultat-quiz>
  </div>
  <div *ngSwitchDefault>
    <h1>Choisis une réponse à la question :</h1>
    <!--<div *ngIf="selectedTheme" class="cont">
    Quand on aura acces au selectedTheme, on utilsera cette valeur -->
    <!--SANS LES COULEURS-->
    <div class="cont" *ngIf="selectedUser.answersColor === false">
      <ul>
        <div>{{currentQuestion.label}}</div>
        <div style="display: flex; width: 100%;">
          <Button (click)="selectionnerAnswer(currentQuestion.answers[0])" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: #bfbfbf; margin-left: 10%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;">
            {{currentQuestion.answers[0].value}}<br>
            {{currentQuestion.answers[0].isCorrect}}</Button>
          <Button (click)="selectionnerAnswer(currentQuestion.answers[1])" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: #bfbfbf; margin-left: 5%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;">
            {{currentQuestion.answers[1].value}}<br>
            {{currentQuestion.answers[1].isCorrect}}</Button>
        </div>
        <br><br><br>
        <div style="display: flex; width: 100%;">
          <Button (click)="selectionnerAnswer(currentQuestion.answers[2])" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: #bfbfbf; margin-left: 10%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;">
            {{currentQuestion.answers[2].value}}<br>
            {{currentQuestion.answers[2].isCorrect}}</Button>
          <Button (click)="selectionnerAnswer(currentQuestion.answers[3])" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: #bfbfbf; margin-left: 5%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;">
            {{currentQuestion.answers[3].value}}<br>
            {{currentQuestion.answers[3].isCorrect}}</Button>
        </div>
      </ul>
    </div>
    <!--AVEC LES COULEURS-->
    <div class="cont" *ngIf="selectedUser.answersColor === true">
      <ul>
        <div>{{currentQuestion.label}}</div>
        <div style="display: flex; width: 100%;">
          <Button (click)="selectionnerAnswer(currentQuestion.answers[0])" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: linear-gradient(to left top, #FF2732, #FF2751); margin-left: 10%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;">
            {{currentQuestion.answers[0].value}}<br>
            {{currentQuestion.answers[0].isCorrect}}</Button>
          <Button (click)="selectionnerAnswer(currentQuestion.answers[1])" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: linear-gradient(to left top, #27FF67, #4FFF27); margin-left: 5%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;">
            {{currentQuestion.answers[1].value}}<br>
            {{currentQuestion.answers[1].isCorrect}}</Button>
        </div>
        <br><br><br>
        <div style="display: flex; width: 100%;">
          <Button (click)="selectionnerAnswer(currentQuestion.answers[2])" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: linear-gradient(to left top, #FFDB27, #D8FF27); margin-left: 10%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;">
            {{currentQuestion.answers[2].value}}<br>
            {{currentQuestion.answers[2].isCorrect}}</Button>
          <Button (click)="selectionnerAnswer(currentQuestion.answers[3])" style="width: 36%; height: 80px; border-radius: 5px; border: none; color: #fff; background: linear-gradient(to left top, #27F4FF, #275DFF); margin-left: 5%; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px;">
            {{currentQuestion.answers[3].value}}<br>
            {{currentQuestion.answers[3].isCorrect}}</Button>
        </div>
      </ul>
    </div>
    <div class="center"><input class="bouton" value="Check" type="button" (click)="check()">
    </div>
    <div class="center">
      <button class="bouton" (click)="validerAnswer()">
        <span> {{ selectedAnswer ? 'Valider' : 'Selectionnez une reponse'}}</span>
      </button>
    </div>
    <div class="center" *ngIf="selectedUser.previousQuestion === true">
      <button class="bouton" (click)="previousQuestion()">
        <span>Question Precedente</span>
      </button>
    </div>
  </div>
</div>
</body>
</html>



